on: push
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --yes ninja-build g++ python3 pip
      - name: build
        run: |
          cmake -B ./build -GNinja
          cmake --build ./build
      - name: run tests
        run: ./build/tests
